header {
    background-image: url(../../assets/clouds-g044d1e19a_1920.jpg);
    background-size: cover;
    color: rgb(247, 191, 191);
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
}